*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{

    display: flex;
    width: 100%;
}

.maindiv img{
    width: 200px;
    height: 250px;
    text-align: center;
    border-radius: 10px;
}
#cartpage div{
    padding: 10px;
}

#cartpage h3{
    padding: 10px;
}

#cartpage {
    overflow-y: auto; 
    display: block;
    width: 60%;
    margin: 20px;
  }

.maindiv{
    display: flex;
    position: relative;
    /* border: 1px solid ; */
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}
#other{
    flex: 0 0 30%; 
    position: sticky;
    top: 0;
    height: 100vh; 
    background-color:#f9f9f9;
    width: 30%;
    margin-top: 20px;
    border-radius: 10px;
}
.maindiv2{
    margin: 30px;
}

#cartpage h3{
    font-size: 20px;
    font-family: 'Courgette', cursive;
    font-family: 'Signika Negative', sans-serif;
}

#cartpage button{
    padding: 5px 20px;
    border: 1px solid gray;
}
#cartpage span{
    padding: 5px 10px;
    border: 1px solid black;
}

#price{
    margin: 30px;
    font-family: 'Courgette', cursive;
    font-family: 'Signika Negative', sans-serif;
    color: black;
    font-size: 20px;
}
.apply{
    margin: 10px;
    padding: 5px 30px;
    background-color: rgb(218, 28, 92);
    border: 0;
    color: white;
    font-family: 'Courgette', cursive;
    font-family: 'Signika Negative', sans-serif;

}

.promocode{
    padding: 5px 30px;
    color: black;
    background-color: #ececec;
}
label {
    padding-right: 10px;
    font-family: 'Courgette', cursive;
    font-family: 'Signika Negative', sans-serif;
    color: black;
    font-size: 20px;
}
.code{
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
}

.texts{
    align-items: center;
    position: relative;
}

.plusminse{
    position: absolute;
    right: 50px;
    top: 40%;
    background-color: #ececec;
    border: 1px solid rgba(128, 128, 128, 0.396);
}

section{
    display: flex;
    justify-content: center;
    background-color: #ececec;
    padding-top: 10px;
}

.disprice{
    color: black;
    font-family: 'Courgette', cursive;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
}

#other h3{
    font-size: 22px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 10px;
} 

#other h4{
    border-top: 1px solid ;
    font-size: 30px;
    font-weight: 400;
    padding-top: 10px;
} 
.heading {
    background-color: #f9f9f9;
}
.txt{
    background-color: #ececec;
}
.delete-button{
    background-color: #ececec;
    padding: 15px;
    border-radius: 5px;
}
.place-order-button{
    background-color:  rgb(218, 28, 92);
    padding: 20px;
    border-radius: 50px;
    width: 200px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}