
html {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* // Variables
$dark1: #3e363f;
$dark2: #212527;
$light1: #fffce8;
$light2: #edf7f6;
$red: #df4747;
$green: #47df5b;
$transition250: all 250ms ease-in-out;
$transition500: all 500ms ease-in-out;

// Mixin
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  height: 100vh;
  background: rgb(192, 192, 192);
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 30px;
  padding: 20px;
  max-width: 960px;

  &__list {
    position: relative;
    box-shadow: 0 0 15px rgb(12, 12, 12);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
      width: 100%;
      background-color: gray;
      opacity: 0;
    }

    &:hover {
      &:after {
        opacity: 0.5;
      }
      > .product__viewBtn {
        visibility: visible;
        opacity: 1;
        z-index: 1;
      }
    }
  

  &__img {
    width: 100%;
  }

  &__viewBtn {
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    background: gray;
    color: rgb(162, 149, 149);
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;

    &:hover {
      color: gray;
      background: rgb(171, 161, 161);
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;

  &--bg {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }

  &__content {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 540px;
    max-width: 960px;
    background-color: rosybrown;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100px);

    &--show {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }
  }

  &__img {
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: rgb(37, 36, 36);
    cursor: pointer;
    z-index: 3;

    &:hover {
      color: red;
    }
  }

  .modal__left,
  .modal__right {
    margin: auto;
    padding: 20px;
  }
}

.detail {
  &__title,
  &__description {
    text-transform: uppercase;
  }

  &__price {
    font-weight: bold;
  }

  &__bagBtn {
    cursor: pointer;
    background: gray;
    color: rgb(210, 201, 201);
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    

    &:hover {
      color: green;
    }
  }
}

@media (max-width: 600px) {
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: 400px;
  }

  .modal {
    &__content {
      flex-direction: column;
      text-align: center;

      &--show {
        max-height: 100%;
        min-width: 400px;
      }
    }

    &__left {
      margin-top: 40px;
    }
  }
}

.social {
  position: absolute;
  left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  height: 50px;
  width: 200px;

  &__icon {
    font-size: 50px;
    color: dark2;
    padding: 0 10px;
    transition: all 250ms ease-in-out;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}
}